<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} - Microblog{% else %}Microblog{% endif %}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Início</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Logout ({{ current_user.username }})</a>
        {% endif %}
    </nav>
    <hr>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>
